*{margin:0;padding:0;}

h1{
  background:#f0f0f0;
  padding:1% 4%;
  font-size:280%;
  font-weight:300;
  text-align:left;
  color:#567;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

p{
padding-top:3px;
font-size:90%;
color:#567;
text-align:center;
}

a{
color:#567;
text-decoration:none;
}

body{
  background:#567;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#user_form{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:1%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#user_form h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding-top:6%;
  padding-right:4%;
  padding-left:4%;
  padding-bottom:2%;
  
}

input[type="text"],input[type="password"]{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="file"]{
  font-family:'Open Sans',sans-serif;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}
